.App {
}

#infoBox, #errorBox, #loadingBox {
    width: 80%;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    display: none;
    cursor: pointer;
}

#loadingBox {
    background: #7CB3E9;
}
#infoBox {
    background: #393;
}
#errorBox {
    background: #F50;
}

#main {
    margin: 0 10px 20px 10px;
}

table th {
    background: #DDD;
    padding: 10px;
}

table td {
    padding: 5px 10px;
    background: #EEE;
}

#userSidebar{
    float:left;
    background: #DDD;
    margin-right: 5px;
    border-radius: 5px;
    border: solid #7f7f7f 2px;
}
#message-box{
    margin-left: 20px;
    background: #DDD;
    display: inline-block;
    border-radius: 5px;
    border: solid #7f7f7f 2px;

}
.sidebar-user{
    padding: 5px;
    border-radius: 2px;
    cursor:pointer;

}
.sidebar-user:hover{
    background: #7CB3E9;
}
.message-form{
    padding-top: 20px;
   text-align: center;
}
#chatMessages{
    background: #7CB3E9;
    border-radius: 5px;
}





#PostBox{
    background: #9da0a4;
    border-radius:5px;
    padding-left:5px;
    padding-bottom:5px;
    color:#272B30;

}
#PostBox h2{
    color:whitesmoke;
    font-family:Calibri;
}
#PostBox #PostText{
    border-style:solid;
    border-radius:5px;
    border-color:#525252;
    border-width:1px;
    background:#DDDDDD;
    margin-right:20px;
    padding-left:5px;
    margin-bottom:20px;
}

.my-btns {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.27);
    color: black;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin-top: 5px;
}

.my-btns:hover {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 121, 204, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 121, 204, .75);
    box-shadow: 0px 0px 15px 5px rgba(0, 121, 204, .75);
    background-color: transparent;
    color: black;
}
.form-control {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    font-size: 16px;
    cursor: text;
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


table tr td, table tr th{
    background-color: rgba(0,0,0,0.25);
    font-size: 20px;
}

.users-click{
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: black;
}

.users-click:hover {
    color: #3f3f3f;
    text-shadow: 1px -1px 1px #010;
}

.search-post{
    margin-left: 12px;
    margin-bottom: 2px;
}
.options {
    /* Whatever color  you want */
    background-color: rgba(0,0,0,0.15);
}

hr.style-seven {
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr.style-seven:before { /* Not really supposed to work, but does */
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
/*comment section*/
.singleCommentDiv{
    background-color: white;
    word-wrap: break-word;
    border: solid black 1px;
    border-radius: 10px;
    padding:10px;
    width:40%;
    min-height:40px;
}
/*end of comment section*/

/*comment Buttons section*/
.customButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
    background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
    background-color:#bddbfa;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
    border:1px solid #3575b5;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Trebuchet MS;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.customButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
    background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
    background-color:#80b5ea;
}
.customButton:active {
    position:relative;
    top:1px;
}
.buttonHolder{
    padding-top: 10px;
}

.commentButtonsHolder{
    float:right;
    margin-top:-4%;
}

.commentDetails{
    font-size: 12px;
    margin-bottom: -2%;
    padding:10px;
}

.commentButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    -webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
    box-shadow:inset 0px 1px 0px 0px #dcecfb;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bddbfa), color-stop(1, #80b5ea));
    background:-moz-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-webkit-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-o-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:-ms-linear-gradient(top, #bddbfa 5%, #80b5ea 100%);
    background:linear-gradient(to bottom, #bddbfa 5%, #80b5ea 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea',GradientType=0);
    background-color:#bddbfa;
    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;
    border:1px solid #3575b5;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Trebuchet MS;
    font-size:12px;
    font-weight:bold;
    padding:6px 18px;
    text-decoration:none;
    text-shadow:0px 1px 0px #528ecc;
}
.commentButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #bddbfa));
    background:-moz-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-webkit-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-o-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:-ms-linear-gradient(top, #80b5ea 5%, #bddbfa 100%);
    background:linear-gradient(to bottom, #80b5ea 5%, #bddbfa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa',GradientType=0);
    background-color:#80b5ea;
}
.commentButton:active {
    position:relative;
    top:1px;
}
/*end of comment button section*/

