.App {
}

#infoBox, #errorBox, #loadingBox {
    width: 80%;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    display: none;
    cursor: pointer;
}

#loadingBox {
    background: #7CB3E9;
}
#infoBox {
    background: #393;
}
#errorBox {
    background: #F50;
}

#main {
    margin: 0 10px 20px 10px;
}

table th {
    background: #DDD;
    padding: 10px;
}

table td {
    padding: 5px 10px;
    background: #EEE;
}





#PostBox{
    background: #9da0a4;
    border-radius:5px;
    padding-left:5px;
    padding-bottom:5px;
    color:#272B30;

}
#PostBox h2{
    color:whitesmoke;
    font-family:Calibri;
}
#PostBox #PostText{
    border-style:solid;
    border-radius:5px;
    border-color:#525252;
    border-width:1px;
    background:#DDDDDD;
    margin-right:20px;
    padding-left:5px;
    margin-bottom:20px;
}

