.App {
}

#infoBox, #errorBox, #loadingBox {
    width: 80%;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    display: none;
    cursor: pointer;
}

#loadingBox {
    background: #7CB3E9;
}
#infoBox {
    background: #393;
}
#errorBox {
    background: #F50;
}

#main {
    margin: 0 10px 20px 10px;
}

table th {
    background: #DDD;
    padding: 10px;
}

table td {
    padding: 5px 10px;
    background: #EEE;
}





#PostBox{
    background: #9da0a4;
    border-radius:5px;
    padding-left:5px;
    padding-bottom:5px;
    color:#272B30;

}
#PostBox h2{
    color:whitesmoke;
    font-family:Calibri;
}
#PostBox #PostText{
    border-style:solid;
    border-radius:5px;
    border-color:#525252;
    border-width:1px;
    background:#DDDDDD;
    margin-right:20px;
    padding-left:5px;
    margin-bottom:20px;
}

.my-btns {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.27);
    color: black;
    font-size: 16px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

.my-btns:hover {
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 121, 204, .75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 121, 204, .75);
    box-shadow: 0px 0px 15px 5px rgba(0, 121, 204, .75);
    background-color: transparent;
    color: black;
}
.form-control {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    font-size: 16px;
    cursor: text;
}

/* Pulse */
@-webkit-keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@keyframes hvr-pulse {
    25% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    75% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

.hvr-pulse {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
    -webkit-animation-name: hvr-pulse;
    animation-name: hvr-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


table tr td, table tr th{
    background-color: rgba(0,0,0,0.25);
}